/* seccion 1  video   y carrousel */
.video-container {
    display: flex;
    justify-content: space-between;  
    padding: 60px;
    position: relative;
    top: 50px;
    left: 60px;
}
.video:hover {
    transform: scale(1.5);
    z-index: 1500;
}
.video {
    width: 20%;
    transition: all 2s;    
}

#carouselExampleSlidesOnly {
    width: 40%;
    position: relative auto;
    
    right: 60px;
}