.titulo-activo {
    margin: 40px;
    padding: 40px 0;
    font-family: 'Libre Baskerville', serif;
    color: rgb(18, 19, 38);
    text-decoration: underline;
    line-height: 18px;
    font-weight: bold;
    font-size: 2em;
    padding-top: 150px;
}

div ul li h3 {
    margin: 10px;
    padding: 3px;
    color: rgb(18, 19, 38);
    text-decoration: underline;

}

.texto-activos {
    color: rgb(18, 19, 38);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    padding-right: 10px;
    padding-left: 60px;
    width: 50%;
}